html
    head
        title Task Manager
    body
        h1 Add Task
        hr
        form(method="post")
            label(for="txtTask") Task :
            input(type="text", name="taskName", id="txtTask")
            input(type="submit", name="btnSubmit", value="Save")